body {
  margin: 0 auto;
}

/* Section */

.kitten {
  background-image: url("..assets/images/sunny-day.jpg");
  width: 100%;
  text-align: center;
}

/* img de col-12 */

img {
  margin-top: 50%;
  width: 30em;
}

/* Pantalla mediana */

@media (min-width: 950px) and (max-width: 1100px) {
  .kitten {
    background-image: url("..assets/images/dawn.png");
    background-size: cover;
    width: 100%;
  }
  .col-12 {
    content: url("..assets/images/kitten-large.png");
    width: 30em;
    margin-top: 50%;
    margin-left: 20%;
  }
}

/* Pantalla chica */


@media (min-width: 400px) and (max-width: 949px) {
  .kitten {
    background-image: url("..assets/images/night.jpg");
  }
  .col-12 {
    content: url("..assets/images/kitten-small.png");
    width: 25em;
    margin-left: 10%;
  }
}
