body {
  margin: 0 auto;
}

/* Section */

.kitten {
  background-image: url("../assets/images/night.jpg");
  width: 100%;
  text-align: center;
}

.change {
  width: 20em;
  margin-top: 50%;
}

/* Pantalla mediana */

@media (min-width: 425px) {
  .kitten {
    background-image: url("../assets/images/sunny-day.jpg");
    background-size: cover;
    width: 100%;
  }
  .change {
    content: url("../assets/images/kitten-medium.png");
    width: 30em;
    margin-top: 30%;
    margin-left: 7%;
  }
}

/* Pantalla grande */


@media (min-width: 992px) {
  .kitten {
    background-image: url("../assets/images/dawn.png");
  }
  .change {
    content: url("../assets/images/kitten-large.png");
    width: 25em;
    margin-left: 10%;
  }
}
